/*font-face {
	font-family: 'Minecraft Rus'; 
	src: local('Minecraft Rus'),
		url(minecraft.woff); 
}*/

@import url('https://mcromac-alt.github.io/eb2clicker/minecraft.woff2?family=Minecraft Rus');

body {
  background-image: url("textures/stone.png");
  background-repeat: repeat;
}

header {
  background: var(--tg-theme-bg-color);
  height: 60px;
  font-family: "Minecraft Rus";
  border: 0px solid #030303;
  border-radius: 10px / 10px;
  text-align: center;
}

#Block {
  width: 80%;
  margin: 20vw 10vw 10vw;
}

.underheader {
  background: var(--tg-theme-bg-color);
  /*background-color: #416078;*/
  height: 30px;
  margin-top:-15px;
	margin-left:20%;
  margin-right:20%;
  font-family: "Minecraft Rus";
  border: 0px solid #030303;
  border-radius: 10px / 10px;
  text-align: center;
}